/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d2e2d7;
}
.content {
  background-color: rgb(206 217 209);
  border-radius: 20px;
  padding: 20px;
  width: 45;
}
.input {
  background: transparent;
  outline: none;
  align-items: center;
  text-align: center;
  border-top: none;
  border-radius: 8px;
}
.btn {
  background-color: #d5d5e7;
  text-align: center;
  width: 34vw;
  border-radius: 8px;
} */
